/* colors */

* {
  al:   #00000000;
  fg:   #FFFFFFFF;
  bga:  #1C2028FF;
  bg:   #545464FF;
  ac:   #039BE5FF;
}


//* {
//  al:   #00000000;
//  bg:   #192330FF;
//  bga:  #1C2028FF;
//  fg:   #cdcecfff;
//  ac:   #039BE5FF;
//}
