#
# ~/.bashrc
#

# If not running interactively, don't do anything
[[ $- != *i* ]] && return

alias ls='ls --color=auto'
alias ll='ls -l'
alias grep='grep --color=auto'

alias grE=grep_exclude
grep_exclude() {
	grep --color=auto -v -E \"$*\"
}

mkcd() {
	mkdir $1 && cd $1
}

# grep directory
alias dg='ls -a | grep'
alias tmKISS='tmux kill-server'
alias tmns='tmux-session'
alias cpcr='cpp-c-r'
alias brc='source ~/.bash_profile'
alias t='tree'
alias lg="lazygit"
alias math="genius"
alias s1="i3-resurrect save -w 1"
alias s2="i3-resurrect save -w 2"
alias w1="i3-resurrect restore -w 1"
alias w2="i3-resurrect restore -w 2"
alias vv="select_vim"
alias livegrep="fzf --preview 'cat {}' --bind 'ctrl-j:down,ctrl-k:up'"

# git basics
alias g="git"
alias guc="git push -u origin \$(git branch --show-current)"
alias gp="git pull"
alias gP="git push"
alias gs="git status"
alias gaa="git add ."
alias ga="git add"
alias gap="git add --patch"

# git commit
alias gc="git commit"
alias gC='bash -c "read -p \"Commit Message: \" rep; git commit -m \"\$rep\" "'
alias gca="git commit --allow-empty --amend --only"
# git get hash
alias ggh="git log --pretty=format:\"%H %d%x20%s %cI\" | fzf | cut -d \" \" -f 1"

# git checkout
# git get remote
alias ggr="git branch --remote | fzf"
# git checkout branch remote
alias gcbr='bash -c "git checkout \$(git branch -r | sed \"s/origin\///\" | fzf)"'
alias gcb='bash -c "git checkout \$(git branch | sed \"s/origin\///\" | fzf)"'

# git diff
alias gd="git diff"
alias gdd="git difftool"
alias gds="git diff --staged"
# git diff interactive
alias gdi="git status -s | cut -d \" \" -f 3 | fzf --preview=\"git diff --color {}\" "
# git diff head to selected commit for file [git diff current -> commit]
alias gdcc="git diff \$(git log --pretty=format:\"%H %d%x20%s %cI\" | fzf | cut -d \" \" -f 1) HEAD"
alias gddcc="git difftool \$(git log --pretty=format:\"%H %d%x20%s %cI\" | fzf | cut -d \" \" -f 1) HEAD "
alias gdccf=commits_per_file
alias gddccf=difftool_commits_per_file
commits_per_file() {
	git diff $(git log --pretty=format:"%H %d%x20%s %cI" --follow $1 | fzf | cut -d " " -f 1) HEAD $1
}
difftool_commits_per_file() {
	git difftool $(git log --pretty=format:"%H %d%x20%s %cI" --follow $1 | fzf | cut -d " " -f 1) HEAD $1
}

# git diff file select
alias gdf="git difftool \$(git status -s | fzf | sed -e \"s/.* \(.*\)/\1/\")"
# TODO: git get all commits for file


# fzf list to restor to select from
alias gr="git restore"
alias grs="git restore --staged"
## git worktree
alias gw="git worktree"
# git graph
alias glga="git log --graph --color=always --full-history --all --pretty=format:\"%C(auto)%h | %cn | %ah | %d%x20%s\""
alias glg="git log --graph --color=always --full-history --pretty=format:\"%C(auto)%h | %cn | %ah | %d%x20%s\""

# vvim
alias v="NVIM_APPNAME=nvim nvim"
alias vs="NVIM_APPNAME=nvim nvim -S Session.vim"
alias vdev="NVIM_APPNAME=nvim_dev nvim"

# Docker
alias dd="docker"
alias ddrmi="docker rmi"
alias ddi="docker images"
# Remove inactive images
alias ddrmii="docker rmi \$(docker images -q)"
alias dda="docker ps -a"
# Docker remove all inactive containers
alias ddrmci="docker rm \$(docker ps -a -q)"
alias ddr="docker run"
# Docker compose
alias ddc="docker compose"

# NM cli 
# Select and connect
alias nc="nmcli d wifi connect \$(nmcli d wifi list | awk 'BEGIN {FIELDWIDTHS = \"8 18 18\"} {print  \$2\"*\"\$3}' | fzf | cut -d \"*\" -f 2 | tr -d \" \")"
