<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="root-menu" label="Openbox">
  <item label="Terminal"><action name="Execute"><command>alacritty</command></action></item>
  <item label="Launcher"><action name="Execute"><command>rofi -show drun</command></action></item>
  <item label="Browser"><action name="Execute"><command>chromium</command></action></item>
  <separator/>
  <item label="Dark mode"><action name="Execute"><command>darkmode</command></action></item>
  <item label="Light mode"><action name="Execute"><command>lightmode</command></action></item>
  <separator/>
  <item label="Reconfigure"><action name="Reconfigure"/></item>
  <item label="Restart"><action name="Restart"/></item>
  <separator/>
  <item label="Exit"><action name="Exit"><prompt>yes</prompt></action></item>
</menu>

</openbox_menu>
